<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <h1>Welcome to Bill Splitter</h1>
  <form action="/bill/new" method="post">
    <button type="submit">Create New Bill</button>
  </form>
</body>
</html>
